################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MediaListing/v15
/.vs/MediaListing/lut
/MediaListing.Core/bin/Debug
/MediaListing.Core/obj/Debug
/MediaListing.Test/obj/Debug
/packages
